@{
    ViewBag.Title = "编辑页";
}
@model MvcApplication1.Models.UserModels
@using Test.Entity;

<h2>Edit</h2>

<table style="width: 100%;">
    <tr>
        <td>用户名：</td>
        <td>@ViewBag.UserName</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>性别：</td>
        <td> @ViewBag.Sex</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>生日：</td>
        <td>@ViewBag.Birthday)</td>
        <td>&nbsp;</td>
    </tr>
</table>
